In [23]:
# Library Imports
import pandas as pd
import numpy as np
from pathlib import Path
import hvplot.pandas
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from pandas.tseries.offsets import DateOffset
from sklearn.metrics import classification_report

In [24]:
#ohlcv_df.Date.reset_index().T
#ohlcv_df.columns = list(range(len(ohlcv_df.columns)))
#ohlcv_df.plot()

In [37]:
# Import the dataset into a Pandas Dataframe
ohlcv_df = pd.read_csv(
    Path(r"C:\Users\ana_c\Documents\temp\Starter_Data.csv"), 
    index_col='date', 
    infer_datetime_format=True, 
    parse_dates=True
)

# Review the DataFrame
ohlcv_df.head()

,price_indextor,price_index_change,inflation_rate,canadian_prime_rate,cnd_tsx_indx,unemployment_rate,GDP_growth,CND_USD_exchange
date,,,,,,,,
2004-10-01,104.9,0.000,0.023,0.043,0.023,0.059,0.065,0.800
2004-11-01,105.2,0.003,0.024,0.043,0.018,0.059,0.065,0.835
2004-12-01,105.1,-0.001,0.021,0.043,0.024,0.059,0.065,0.824
2005-01-01,105.0,-0.001,0.019,0.043,-0.005,0.057,0.064,0.826
2005-02-01,105.6,0.006,0.021,0.043,0.050,0.057,0.064,0.806

In [46]:
#reading data types
ohlcv_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 219 entries, 2004-10-01 to 2022-12-01
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   price_indextor       219 non-null    float64
 1   price_index_change   219 non-null    float64
 2   inflation_rate       219 non-null    float64
 3   canadian_prime_rate  219 non-null    float64
 4   cnd_tsx_indx         219 non-null    float64
 5   unemployment_rate    219 non-null    float64
 6   GDP_growth           219 non-null    float64
 7   CND_USD_exchange     219 non-null    float64
dtypes: float64(8)
memory usage: 15.4 KB

In [39]:
# this command is only to validate that the dataframe was readable. It can be removed.
ohlcv_df["CND_USD_exchange"]

date
2004-10-01    0.800000
2004-11-01    0.835000
2004-12-01    0.824000
2005-01-01    0.826000
2005-02-01    0.806000
                ...
2022-08-01    0.735000
2022-09-01    0.745000
2022-10-01    0.742994
2022-11-01    0.729906
2022-12-01    0.739625
Name: CND_USD_exchange, Length: 219, dtype: float64

In [47]:
# Import the StandardScaler from sklearn
from sklearn.preprocessing import StandardScaler

# Scale the data  #### Need someone to modify/add the columns accordingly############################
X_train = ohlcv_df[["price_indextor","CND_USD_exchange"]] 
scaler = StandardScaler().fit(X_train)

In [48]:
X_train.head()

            price_indextor  CND_USD_exchange
date
2004-10-01           104.9             0.800
2004-11-01           105.2             0.835
2004-12-01           105.1             0.824
2005-01-01           105.0             0.826
2005-02-01           105.6             0.806

In [49]:
from sklearn.preprocessing import StandardScaler
##########Andrew to look at this line of code#################
# Scaling the numeric columns
data_scaled = StandardScaler().fit_transform(X_train)

In [50]:
# Creating a DataFrame with with the scaled data  ###############someone to look at this line of code, add the proper columns###
df_transformed = pd.DataFrame(data_scaled, columns=["price_indextor","canadian_prime_rate"])

# Display sample data
df_transformed.head()

   price_indextor  canadian_prime_rate
0       -1.564272            -0.604191
1       -1.541762            -0.243751
2       -1.549265            -0.357032
3       -1.556769            -0.336436
4       -1.511747            -0.542402